<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="home  :: head">
    <meta charset="UTF-8">

    <title>Buscar Prestamista</title>

</head>
<body>

<!-- Main container -->
<main class="full-box main-container">
    <!-- Nav lateral -->
    <section class="full-box nav-lateral">
		<div class="full-box nav-lateral-bg show-nav-lateral"></div>
			<div class="full-box nav-lateral-content" th:replace="home :: nav-lateral">
		</div>
    </section>
    <!-- Page content -->
    <section class="full-box page-content">
        <nav class="full-box navbar-info">
            <a href="#" class="float-left show-nav-lateral">
                <i class="fas fa-exchange-alt"></i>
            </a>
            <a href="user-update.html">
                <i class="fas fa-user-cog"></i>
            </a>
            <a href="#" class="btn-exit-system">
                <i class="fas fa-power-off"></i>
            </a>
        </nav>

        <!-- Page header -->
        <div class="full-box page-header">
            <h3 class="text-left">
                <i class="fas fa-search fa-fw"></i> &nbsp; BUSCAR PRESTAMISTA
            </h3>
        </div>

        <div class="container-fluid">
            <ul class="full-box list-unstyled page-nav-tabs">
                <li>
                    <a href="/prestamista-crear"><i class="fas fa-plus fa-fw"></i> &nbsp; AGREGAR PRESTAMISTA</a>
                </li>
                <li>
                    <a href="/prestamista/listado"><i class="fas fa-clipboard-list fa-fw"></i> &nbsp; LISTA DE PRESTAMISTA</a>
                </li>
                <li>
                    <a class="active" href="/prestamista-search"><i class="fas fa-search fa-fw"></i> &nbsp; BUSCAR PRESTAMISTA</a>
                </li>
            </ul>
        </div>

        <!-- Content -->
        <div class="container-fluid">
            <form id="searchForm" class="form-neon" th:action="@{/prestamista-search2}">
                <div class="container-fluid">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="nombres" class="bmd-label-floating">Nombres</label>
                                <input type="text" class="form-control" id="nombres" name="nombres" maxlength="30">
                            </div>
                            <div class="form-group">
                                <label for="apePaterno" class="bmd-label-floating">Apellido Paterno</label>
                                <input type="text" class="form-control" id="apePaterno" name="apePaterno" maxlength="30">
                            </div>
                            <div class="form-group">
                                <label for="apeMaterno" class="bmd-label-floating">Apellido Materno</label>
                                <input type="text" class="form-control" id="apeMaterno" name="apeMaterno" maxlength="30">
                            </div>
                            <div class="form-group">
                                <label for="dni" class="bmd-label-floating">DNI</label>
                                <input type="text" class="form-control" id="dni" name="dni" maxlength="8">
                            </div>
                        </div>
                        <div class="col-12">
                            <p class="text-center" style="margin-top: 40px;">
                                <button type="submit" id="searchButton" class="btn btn-raised btn-info"><i class="fas fa-search"></i> &nbsp; BUSCAR</button>
                            </p>
                        </div>

                    </div>
                </div>
            </form>
        </div>


        <div class="container-fluid">
            <form action="">
                <input type="hidden" name="eliminar-busqueda" value="eliminar">
                <div class="container-fluid">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-md-6">
                            <p class="text-center" style="font-size: 20px;">
                                Resultados de la busqueda <strong>“Buscar”</strong>
                            </p>
                        </div>
                        <div class="col-12">
                            <p class="text-center" style="margin-top: 20px;">
                                <button type="submit" class="btn btn-raised btn-danger"><i class="far fa-trash-alt"></i> &nbsp; ELIMINAR BÚSQUEDA</button>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      <script th:inline="javascript">
            $(document).ready(function() {
                $('#searchButton').click(function() {
                    var nombres = $('#nombres').val();
                    var apePaterno = $('#apePaterno').val();
                    var apeMaterno = $('#apeMaterno').val();
                    var dni = $('#dni').val();

                    buscarUsuarios(nombres, apePaterno, apeMaterno, dni);
                });

            });

            function buscarUsuarios(nombres, apePaterno, apeMaterno, dni) {
                $.ajax({
                    type: "GET",
                    url: "/prestamista-search1",
                    data: {
                        nombres: nombres,
                        apePaterno: apePaterno,
                        apeMaterno: apeMaterno,
                        dni: dni
                    },
                    success: function(response) {
                        // Actualizar la tabla con los resultados de la búsqueda
                        $('#userTableBody').html(response);
                    },
                    error: function(e) {
                        console.log("Error al realizar la búsqueda: " + e);
                    }
                });
            }
        </script>



        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table table-dark table-sm">
                    <thead>
                    <tr class="text-center roboto-medium">
                        <th>#</th>
                        <th>NOMBRES</th>
                        <th>APELLIDO PATERNO</th>
                        <th>APELLIDO MATERNO</th>
                        <th>EMAIL</th>
                        <th>TELEFONO</th>
                        <th>DNI</th>
                        <th>ACTUALIZAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                    </thead>
                    <tbody id="userTableBody">
                    <!-- Aquí se cargarán dinámicamente los resultados de la búsqueda -->
                    <tr th:each="prestamista, iterStat : ${usuarios}" class="text-center">
						<td th:text="${iterStat.index + 1}"></td>
                        <td hidden th:text="${prestamista.idUsuario}"></td>
                        <td th:text="${prestamista.nombres}"></td>
                        <td th:text="${prestamista.apePaterno}"></td>
                        <td th:text="${prestamista.apeMaterno}"></td>
                        <td th:text="${prestamista.email}"></td>
                        <td th:text="${prestamista.telefono}"></td>
                        <td th:text="${prestamista.dni}"></td>
                        <td>
                            <a th:href="@{/prestamista/editar/{id}(id=${prestamista.idUsuario})}" class="btn btn-success">
                                <i class="fas fa-sync-alt"></i>
                            </a>
                        </td>
                        <td>
                            <form id="'cambiarEstadoForm' + ${prestamista.idUsuario}" th:action="@{/prestamista/cambiarEstado/{idUsuario}(idUsuario=${prestamista.idUsuario})}" method="post">

                                <button type="button" id="'cambiarEstadoButton' + ${prestatario.idUsuario}" class="btn btn-warning cambiarEstadoButton"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </section>
</main>

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/sweetalert2@11.js"></script>

<!--Script para realizar una eliminación logica de un registro cambiando el estado
y desaparezca del listado-->
<script>
    $(document).ready(function() {
        $('.cambiarEstadoButton').click(function(e) {

        e.preventDefault(); // Evita que el formulario se envíe automáticamente

        // Guardar una referencia al formulario
        var form = $(this).closest('form');

            // Mostrar el SweetAlert cuando se hace clic en el botón
            Swal.fire({
                title: '¿Estás seguro?',
                text: '¿Quieres eliminar el registro?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Si el usuario confirma, enviar el formulario con AJAX
                    $.ajax({
                        url: form.attr('action'), // URL del endpoint
                        method: form.attr('method'), // Método HTTP (POST en este caso)
                        data: form.serialize(), // Datos del formulario
                        success: function(response) {
                            // Manejar la respuesta del servidor aquí
                            console.log(response);
                            // Mostrar SweetAlert de éxito
                            Swal.fire(
                                'Registro eliminado',
                                'El registro ha sido elimiando exitosamente.',
                                'success'
                            ).then(() => {
                                // Opcionalmente, puedes redirigir a otra página aquí
                                window.location.href = '/prestamista-search';
                            });
                        },
                        error: function(xhr, status, error) {
                            // Manejar errores de AJAX aquí
                            console.error(xhr.responseText);
                            // Mostrar SweetAlert de error
                            Swal.fire(
                                'Error',
                                'Ha ocurrido un error al eliminar el registro.',
                                'error'
                            );
                        }
                    });
                }
            });
        });
    });
</script>



<!-- Incluir el fragmento de JavaScript -->
<div th:include="home :: javascript-include"></div>
</body>
</html>